<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- <meta name="keywords" content="keywords,keywords"> -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
		<meta name="description" content="智慧航安資訊平臺系統 Siitech System">
		<link rel="shortcut icon" href="../img/backend_img/favicon.png"> <!-- 我的最愛圖示 -->
		<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="../js/jquery.validate.js"></script><!-- 表單驗證 -->
		<script type="text/javascript" src="../js/jquery.metadata.js"></script><!-- 用來判斷表單驗證的長度或數字的JS -->
		<script type="text/javascript" src="../js/messages_zh_TW.js"></script>
	
		<!-- 日期選擇 -->
		<script type="text/javascript" src="../js/datepicker.min.js"></script>
		<script src="../js/i18n/datepicker.en.js"></script>
	
		<script type="text/javascript" src="../js/backend.js"></script>
	
		<!-- 日期選擇樣式 -->
		<link rel="stylesheet" href="../css/datepicker.min.css">
		<link rel="stylesheet" href="../css/all.min.css">
		<link rel="stylesheet" href="../css/siitech_sty.css">
		<!--[if IE]>
			<link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
			<link href="/css/font-awesome-ie7.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<title>智慧航安資訊平臺系統 Siitech System</title>
	</head>

	<body>
		<div class="video-play">
			<div class="vidoe-area">
				<h2>影片名稱</h2>
				<video controls id="v1">
					<source src="../video/cctv_1.webm" type="video/webm">
					<source src="../video/cctv_1.mp4" type="video/mp4">
					您的瀏覽器不支援此格式播放。
				</video>
			</div>
			
		</div>
	</body>
</html>
